.title {
  color: black;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: lightsteelblue;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  height: 100%;
  width: 100%;
}

.splitHorizontalContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.splitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 50%;
}

.inputContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input {
  width: 150px !important;
  margin-top: 15px;
}
